@import url(//db.onlinewebfonts.com/c/2ab02c2937018ee7f2ccc346929ccf57?family=Artifakt+Element);
body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 60% 40%;
    font-family: "Open Sans", sans-serif;
}

#viewer {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media only screen and (max-width: 768px) {
    #panel-right {
        position: relative;
        padding: 24px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    #viewer {
        position: relative;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.logo {
    position: fixed;
    z-index: 1000;
    width: 10%;
    top: 5;
    left: 5;
}

p {
    font-weight: bold;
}

#sidebar {
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.annotation {
    position: absolute;
    z-index: 1;
    padding: 8px;
    color: #fff;
    border-radius: 0.5em;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.hidden {
    opacity: 0;
    margin: 0;
    padding: 0;
}

.contentstable td:first {
    width: 20%;
}

table a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}



.level2{

    font-size: 14px;
}

.level2 td{
    padding-left: 30px;
}

.level3{

    font-size: 12px;
}

.level3 td{
    padding-left: 50px;
}